.intro-content {
    position: relative;
/*     top: -8rem; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;     
}


.intro-img img{
    max-width: 100%;
    height: auto;
}

.top-3-content {
    max-width: 80rem;
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.grid h3 {
    font-size: 3rem;
}

.grid-title {
    margin-bottom: 2rem;
}

.grid-description {
    padding-bottom: 5rem;
}

  .footer {
    text-align: center;
    font-size: 1.6rem;
  }
  
  .footer a {
    color: var(--primary-color);
  }
  
  .heart {
    color: var(--secondary-color);
  }
  
  .footer p {
    margin: 0;
    padding: 3rem;
  }

  .close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 1px solid var(--primary-color);


}


  @media (max-width: 800px) {
    .intro-content, .grid  {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img{
        width: 100%;
    }

    .grid-one-content {
        display: block;
    }

    /* Menu */
    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }
    
    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
      }

      .close-menu:checked~.menu {
        display: block;
      }

      .close-menu:checked~.close-menu-label::after {
        content: '×';
      }
    
      .menu-spacing {
        display: none;
      }

    
  }
